@import "./nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins&family=Roboto:wght@300;400;500&display=swap');

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto repeat(6, auto) 450px;
	grid-template-areas: 
	"header"
	"hero"
	"category"
	"products"
	"brand-banner"
	"best-seller"
	"newsletter"
	"footer";
	min-height: 100%;
	width: 100%;
}
.header {
	box-sizing: border-box;
	grid-area: header;
	padding-top: 30px;
	padding-bottom: 84px;
	background-color: #f1f1f1;
	display: grid;
	height: 100%;
	grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
	grid-template-areas: 
	". header__wrapper .";
}
.header__wrapper {
	padding: 0px 50px;
	display: grid;
	height: 100%;
	grid-area: header__wrapper;
	grid-template-columns: 20px 1fr 105px 105px;
	grid-template-rows: auto auto;
	grid-template-areas: 
"header__search header__logo header__login header__shoping"
"header__nav header__nav header__nav header__nav";
align-items: center;
text-align: center;
column-gap: 5px;
}

.header__search {
	grid-area: header__search;
}
.header__logo {
	grid-area: header__logo;
}
.header__login {
	grid-area: header__login;
	font-family: Poppins;
	font-weight: 400;
	font-size: 14px;
	align-items: center;
}
.header__login_span {
	position: relative;
}
.header__login_span::before {
	content: url(../img/header/acc-icon.svg);
	display: inline-block;
	position: absolute;
	left: -30px;
	top: -3px;

}
.header__shoping {
	grid-area: header__shoping;
	font-family: Poppins;
	font-weight: 400;
	font-size: 14px;
}
.header__shoping_span {
	position: relative;
}
.header__shoping_span::before {
	content: url(../img/header/shop-icon.svg);
	display: inline-block;
	position: absolute;
	left: -30px;
	top: -3px;
}
.header__nav {
	grid-area: header__nav;
	padding-top: 55px;
	height: 100%;
	font-family: Poppins;
	font-size: 16px;
	ul {
		height: 100%;
		align-items: end;
		display: grid;
		grid-auto-flow:column;
		column-gap: 10px;
		a {
			color: black;
		}
	}
}
@media screen and (max-width: 768px) {
	.container {
		grid-template-rows: auto repeat(6, auto) auto;
	}
	.header {
		padding-top: 30px;
		padding-bottom: 44px;
	}
	.header__wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
		grid-template-areas: 
	"header__search header__logo" "header__login header__shoping"
	"header__nav header__nav" 
	"header__nav header__nav";
	gap: 10px;
	.header__nav {
		padding-top: 25px;
	}
	}
	.header__wrapper ul {
		height: 100%;
		font-size: 12px;
		align-items: center;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row;
		gap: 15px;
	}

}
@media screen and (max-width: 576px) {
	.header__wrapper {
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: 
	"header__logo header__logo" 
	" header__login header__shoping"
	"header__search header__search"
	"header__nav header__nav" ;
	gap: 10px;
	.header__login {
		font-size: 12px;
	}
	.header__shoping {
		font-size: 12px;
	}
	}
	.header__wrapper ul {
		height: 100%;
		font-size: 10px;
		align-items: center;
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-flow: row;
		gap: 15px;
	}
}

.hero {
	background-color: #f1f1f1;
	grid-area: hero;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
	grid-template-areas: "hero__left-decor hero__content hero__right-decor";
}
.hero__right-decor {
	grid-area: hero__right-decor;
	position: relative;
	height: 100%;
	& img {
		position: absolute;
		right: 0;
		top: 28%;
		max-width: 100%;
	}
}
.hero__left-decor {
	grid-area: hero__left-decor;
	position: relative;
	height: 100%;
	& img {
		position: absolute;
		left: 0;
		bottom: 10%;
		max-width: 100%;
	}
}
.hero__content {
	grid-area: hero__content;
	display: grid;
	gap: 30px;
	padding: 0px 50px 60px 50px;
	grid-template-areas: 
	". hero__img"
	"hero__title hero__img"
	"hero__subtitle hero__img"
	"hero__button hero__img"
	". hero__img";
}
.hero__title {
	grid-area: hero__title;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 74px;
	height: 100%;
}
.hero__subtitle {
	grid-area: hero__subtitle;
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 30px;
height: 100%;
}
.hero__subtitle_span {
	display: block;
	max-width: 755px;
}
.hero__img {
	grid-area: hero__img;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100%;
	.main__image {
		max-width: 100%;
		min-width: 300px;
	}
}
.hero__button {
	grid-area: hero__button;
	position: relative;
	button {
		width: 223px;
		height: 72px;
		background-color: #1E2832;
		color: #f1f1f1;
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 29px;
		text-align: right;
		padding-right: 25px;
	}
}
.hero__button_icon {
	position: absolute;
	left: 23px;
	top: 18px;
	img {
		height: 35px;

	}
}

@media screen and (max-width: 768px) {
	.hero {
		height: 100%;
	}
	.hero__content {
		padding: 0 30px;
		gap: 20px;
		grid-template-areas: 
		"hero__img"
		"hero__title"
		"hero__subtitle"
		"hero__button";
		.hero__img {
			margin-bottom: 50px;
		}
		.hero__title {
			margin-bottom: 50px;
			font-size: 56px;
		}
		.hero__subtitle {
			margin-bottom: 50px;
			font-size: 26px;
		}
		.hero__button {
			margin-bottom: 50px;
		}
	}
}
@media screen and (max-width: 576px) {
	.hero__content {
		.hero__img {
			margin-bottom: 20px;
		}
		.hero__title {
			margin-bottom: 20px;
			font-size: 36px;
		}
		.hero__subtitle {
			margin-bottom: 20px;
			font-size: 18px;
		}
		.hero__button {
			margin-bottom: 20px;
			position: relative;
			button {
				width: 140px;
				height: 43px;
				font-size: 19px;
				padding-right: 15px;
			}
		}
		.hero__button_span {
			position: static;
			.hero__button_icon {
				position: absolute;
				left: 8px;
				top: 7px;
				img {
					height: 25px;
				}
			}
		}
		.hero__button_span::before {
		display: none;
		}
	}
	
}

.category {
	grid-area: category;
	height: 100%;
	padding: 0px 0px 140px 0px;
}
.category_wrapper {
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
	grid-template-areas: 
	". category__brands ."
	". category__gallery ."
	;
}
.category__brands{
	grid-area: category__brands;
	padding: 90px 50px;
	.category__brands_list {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
		img {
			max-height: 100%;
			width: 100%;
			overflow: hidden;
		}
	}
}
.category__gallery {
	padding: 0px 50px;
	grid-area: category__gallery;
	height: 100%;
	width: 100%;
	object-fit: fill;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	overflow: hidden;
	.span4 {
		grid-row: span 2;
		grid-column: span 2;
	}
	.item-2, .item-1, .item-3, .item-4, .item-5 {
		min-height: 100%;
		overflow: hidden;
		object-fit: cover;
	}
	img {
		min-height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
		object-fit: cover;
		z-index: 1;
	}
	.category_hover {
		width: 100%;
		height: 16.5%;
		background-color: #1E2832;
		position: relative;
		bottom: 0;
		z-index: 5;
		color: #f1f1f1;
		display: flex;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		padding: 0 8%;
		font-family: 'Open Sans';
		font-weight: 600;
		font-size: 16px;
		p {
			display: inline;
		}
	}
	.span4 .category_hover {
		font-size: 26px;
	}
	.item-1:hover, .item-2:hover, .item-3:hover, .item-4:hover, .item-5:hover {
		.category_hover {
			bottom: 16.5%;
			animation-name: hover;
			animation-duration: 200ms;
			animation-timing-function: ease-out ;
		}
	}
	@keyframes hover {
		0%{bottom: 0px;
		}
		100% {
			bottom: 16.5%;
		}
	}
}
@media screen and (max-width: 992px) {
	.category__gallery {
		& .span4 .category_hover{
			font-size: 16px;
		}
		.category_hover {
		font-size: 12px;
	}
}
}
@media screen and (max-width: 768px) {
	.category__brands {
		height: 30%;
		.category__brands_list {
		display: none;
		}
	}
	.category__gallery {
		padding: 0px 30px;
		gap: 15px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 1fr);
		& .category_hover {
			font-size: 16px;
		}
		& .span4 .category_hover{
				font-size: 26px;
			}
	}
}
@media screen and (max-width: 576px) {
	.category__gallery {
		grid-template-columns: auto;
		grid-template-rows: auto;
		.span4 {
			grid-row: span 1;
			grid-column: span 1;
		}
		.span4 .category_hover {
			font-size: 16px;
		}
	}
}

.products {
	height: 100%;
	grid-area: products;
	display: grid;
	grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
	grid-template-areas: 
	". products__title ."
	". products__nav ."
	". products__items .";

}
.products__title {
		padding: 0 50px;
		grid-area: products__title;
		font-family: 'Roboto';
		font-weight: 500;
		font-size: 45px;
		text-align: center;
		padding-bottom: 50px;
	}

.products__nav {
	display: grid;
	grid-template-columns: repeat(4, auto) 1fr auto;
	grid-template-areas: "all t hoo jack . filter";
	padding: 0 50px;
	gap: 40px;
	grid-area: products__nav;
	font-family: 'Open Sans';
	font-size: 16px;
	padding-bottom: 30px;
}
.nav-1:hover, .nav-2:hover, .nav-3:hover, .nav-4:hover {
	font-weight: 600;
}
li {
	list-style: none;
	a {
		color: black;}
}
.filter {
	grid-area: filter;
	height: 32px;
	width: 88px;
	background-color: #1E2832;
	font-family: 'Open Sans';
	font-size: 16px;
	color: #f1f1f1;
	img {
		height: 16px;
		position: relative;
		top: 3px;
		left: -6px;
		overflow: hidden;
	}
}
.products__items {
	padding: 0 50px;
	grid-area: products__items;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: auto;
	gap: 24px;
	overflow: hidden;
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
	img {
		width: 100%;
		object-fit: cover;
	}
}
.products__item_img {
	position: relative;
	overflow: hidden;
}
.products__item_img .products__img_hover{
	position: absolute;
	padding: 0 16px;
	width: 100%;
	height: 16.5%;
	background-color: #1E2832;
	z-index: 5;
	bottom: -16.5%;
	color: #f1f1f1;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	display: grid;
	grid-template-columns: auto auto 1fr auto auto;
	grid-template-areas: "fav ser . shop tt";
	align-items: center;
	.fav {
		grid-area: fav;
		margin-right: 24px;
	}
	.ser{
		grid-area: ser;
		height: 22px;
		width: 22px;
		margin-top: 4px;
	}
	.shop {
		grid-area: shop;
		margin-right: 8px;
	}
	.tt {
		grid-area: tt;
	}
	img {
		height: 24px;
		width: 24px;
	}
}
.products__item_img:hover {
	.products__img_hover {
		bottom: 0;
		animation-name: prod-hover;
		animation-duration: 200ms;
		animation-timing-function: ease-out ;
	}
}
@keyframes prod-hover {
	0% {
		bottom: -16.5%;
	}
	100% {
		bottom: 0;
	}
}
.products__item-1, .products__item-2, .products__item-3, .products__item-4, .products__item-5, .products__item-6, .products__item-7, .products__item-8 {
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}
.products__item_category {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	grid-area: cat;
	a {
		color: #777777;
	}
}
.products__item_name {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	padding-bottom: 16px;
	padding-top: 18px;
	a {
		color: black;
	}
}
.products__item_price {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	grid-area: price;
}
.category__price_box {
	object-fit: fill;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-areas: "cat . price disc";
	gap: 12px;
	margin: 4px 0;
	align-items: center;
}
.products__item_new-price {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 16px;
	color: #FF6F61;
	grid-area: disc;
}
.products__item_price-discount{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 14px;
	text-decoration-line: line-through;
	color: #777777;
	grid-area: price;
}
.sale {
	position: relative;
}
.sale:after {
	content: 'SALE';
	display: block;
	position: absolute;
	background: #1E2832;
	color: #f1f1f1;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	width: 52px;
	height: 24px;
	text-align: center;
	padding: 6px 0;
	top: 4.5%;
	left: 0px;
}
.hot {
	position: relative;
}
.hot:after {
	content: 'HOT';
	display: block;
	position: absolute;
	background: #FF6F61;
	color: #f1f1f1;
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;
	width: 52px;
	height: 24px;
	text-align: center;
	padding: 6px 0;
	top: 4.5%;
	left: 0px;
}
.products__item_img {
}
.products__img_hover {
}
.products__item-2 {
}
.products__item-3 {
}
.products__item-4 {
}
.products__item-5 {
}
.products__item-6 {
}
.products__item-7 {
}
.products__item-8 {
}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

.brand-banner {
	grid-area: brand-banner;
	height: 100px;
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

.best-seller {
	grid-area: best-seller;
	height: 100px;
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

.newsletter {
	grid-area: newsletter;
	height: 100px;
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

.footer {
	grid-area: footer;
}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}
