@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins&family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto (auto)[6] 450px;
  grid-template-rows: auto repeat(6, auto) 450px;
      grid-template-areas: "header" "hero" "category" "products" "brand-banner" "best-seller" "newsletter" "footer";
  min-height: 100%;
  width: 100%;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-area: header;
  padding-top: 30px;
  padding-bottom: 84px;
  background-color: #f1f1f1;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-columns: 1fr minmax(auto, 1320px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
      grid-template-areas: ". header__wrapper .";
}

.header__wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  padding: 0px 50px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  grid-area: header__wrapper;
  -ms-grid-columns: 20px 5px 1fr 5px 105px 5px 105px;
  grid-template-columns: 20px 1fr 105px 105px;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
      grid-template-areas: "header__search header__logo header__login header__shoping" "header__nav header__nav header__nav header__nav";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.header__search {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header__search;
}

.header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header__logo;
}

.header__login {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: header__login;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login_span {
  position: relative;
}

.header__login_span::before {
  content: url(../img/header/acc-icon.svg);
  display: inline-block;
  position: absolute;
  left: -30px;
  top: -3px;
}

.header__shoping {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: header__shoping;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
}

.header__shoping_span {
  position: relative;
}

.header__shoping_span::before {
  content: url(../img/header/shop-icon.svg);
  display: inline-block;
  position: absolute;
  left: -30px;
  top: -3px;
}

.header__nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: header__nav;
  padding-top: 55px;
  height: 100%;
  font-family: Poppins;
  font-size: 16px;
}
.header__nav ul {
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__nav ul a {
  color: black;
}

@media screen and (max-width: 750px) {
  .container {
    -ms-grid-rows: auto (auto)[6] auto;
    grid-template-rows: auto repeat(6, auto) auto;
  }
  .header {
    padding-top: 30px;
    padding-bottom: 44px;
  }
  .header__wrapper {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 10px auto;
    grid-template-rows: auto auto;
        grid-template-areas: "header__search header__logo" "header__login header__shoping" "header__nav header__nav" "header__nav header__nav";
    gap: 10px;
  }
  .header__wrapper .header__nav {
    padding-top: 25px;
  }
  .header__wrapper ul {
    height: 100%;
    font-size: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    gap: 15px;
  }
  .header__search {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .header__login {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header__shoping {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .header__nav {
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
@media screen and (max-width: 435px) {
  .header__wrapper {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: auto 10px auto 10px auto 10px auto;
        grid-template-areas: "header__logo header__logo" " header__login header__shoping" "header__search header__search" "header__nav header__nav";
    gap: 10px;
  }
  .header__wrapper .header__login {
    font-size: 12px;
  }
  .header__wrapper .header__shoping {
    font-size: 12px;
  }
  .header__wrapper ul {
    height: 100%;
    font-size: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    gap: 15px;
  }
  .header__search {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .header__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .header__login {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .header__shoping {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .header__nav {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}
.hero {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  background-color: #f1f1f1;
  grid-area: hero;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 1320px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
      grid-template-areas: "hero__left-decor hero__content hero__right-decor";
}

.hero__right-decor {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: hero__right-decor;
  position: relative;
  height: 100%;
}
.hero__right-decor img {
  position: absolute;
  right: 0;
  top: 28%;
  max-width: 100%;
}

.hero__left-decor {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: hero__left-decor;
  position: relative;
  height: 100%;
}
.hero__left-decor img {
  position: absolute;
  left: 0;
  bottom: 10%;
  max-width: 100%;
}

.hero__content {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hero__content;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  padding: 0px 50px 60px 50px;
      grid-template-areas: ". hero__img" "hero__title hero__img" "hero__subtitle hero__img" "hero__button hero__img" ". hero__img";
}

.hero__title {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: hero__title;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 74px;
  height: 100%;
}

.hero__subtitle {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: hero__subtitle;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  height: 100%;
}

.hero__subtitle_span {
  display: block;
  max-width: 755px;
}

.hero__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 3;
  grid-area: hero__img;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.hero__img .main__image {
  max-width: 100%;
  min-width: 300px;
}

.hero__button {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: hero__button;
  position: relative;
}
.hero__button button {
  width: 223px;
  height: 72px;
  background-color: #1E2832;
  color: #f1f1f1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  text-align: right;
  padding-right: 25px;
}

.hero__button_icon {
  position: absolute;
  left: 23px;
  top: 18px;
}
.hero__button_icon img {
  height: 35px;
}

@media screen and (max-width: 750px) {
  .hero {
    height: 100%;
  }
  .hero__content {
    padding: 0 30px;
    gap: 20px;
        grid-template-areas: "hero__img" "hero__title" "hero__subtitle" "hero__button";
  }
  .hero__content .hero__img {
    margin-bottom: 50px;
  }
  .hero__content .hero__title {
    margin-bottom: 50px;
    font-size: 56px;
  }
  .hero__content .hero__subtitle {
    margin-bottom: 50px;
    font-size: 26px;
  }
  .hero__content .hero__button {
    margin-bottom: 50px;
  }
  .hero__title {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .hero__subtitle {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .hero__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .hero__button {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 435px) {
  .hero__content .hero__img {
    margin-bottom: 20px;
  }
  .hero__content .hero__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .hero__content .hero__subtitle {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .hero__content .hero__button {
    margin-bottom: 20px;
    position: relative;
  }
  .hero__content .hero__button button {
    width: 140px;
    height: 43px;
    font-size: 19px;
    padding-right: 15px;
  }
  .hero__content .hero__button_span {
    position: static;
  }
  .hero__content .hero__button_span .hero__button_icon {
    position: absolute;
    left: 8px;
    top: 7px;
  }
  .hero__content .hero__button_span .hero__button_icon img {
    height: 25px;
  }
  .hero__content .hero__button_span::before {
    display: none;
  }
}
.category {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: category;
  height: 100%;
  padding: 0px 0px 140px 0px;
}

.category_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 1320px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1320px) 1fr;
      grid-template-areas: ". category__brands ." ". category__gallery .";
}

.category__brands {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: category__brands;
  padding: 90px 50px;
}
.category__brands .category__brands_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category__brands .category__brands_list img {
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.category__gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  padding: 0px 50px;
  grid-area: category__gallery;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.category__gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.category__gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.category__gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.category__gallery > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.category__gallery > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.category__gallery > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.category__gallery > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.category__gallery > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.category__gallery .span4 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.category__gallery img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.category__gallery .category_hover {
  width: 100%;
  height: 16.5%;
  background-color: #1E2832;
  position: relative;
  bottom: 16.5%;
  z-index: 5;
  opacity: 0;
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}
.category__gallery .item-1:hover .category_hover, .category__gallery .item-2:hover .category_hover, .category__gallery .item-3:hover .category_hover, .category__gallery .item-4:hover .category_hover, .category__gallery .item-5:hover .category_hover {
  opacity: 1;
}
@-webkit-keyframes hover {}
@keyframes hover {}

@media screen and (max-width: 750px) {
  .category__brands {
    height: 30%;
  }
  .category__brands .category__brands_list {
    display: none;
  }
  .category__gallery {
    padding: 0px 30px;
    gap: 15px;
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 15px 1fr 15px 1fr 15px 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .category__gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .category__gallery > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .category__gallery > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .category__gallery > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .category__gallery > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .category__gallery > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .category__gallery > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .category__gallery > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .category__brands {
    padding: 50px 30px;
  }
}
@media screen and (max-width: 435px) {
  .category__gallery {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .category__gallery > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .category__gallery .span4 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }
}
--------------------------------------------------------------------------------------------------------------------------------Seaction__category__END-------------------------------------------------------------------------------------------------------------------------------- .products {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: products;
  height: 100%;
}

.brand-banner {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: brand-banner;
  height: 100%;
}

.best-seller {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: best-seller;
  height: 100%;
}

.newsletter {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: newsletter;
  height: 100%;
}

.footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: footer;
}